/* BASE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.is-active {
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

/* COMPONENTS */

/* box */

.box-layout {
  align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: #f5fbfe;
  border-radius: 3px;
  padding: 3.2rem 1.6rem;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 1.6rem 0;
  line-height: 1;
}

/* button */

.button {
  background: #1c88bf;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  padding: 1.2rem;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem;
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.form__error {
  margin: 0 0 1.6rem 0;
  font-style: italic;
  text-decoration-color: red;
}

/* header */

.header {
  background: #364051;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
}

.header__title {
  color: white;
  text-decoration: none;
  margin: 0;
}

/* input */

@media (min-width: 45rem) {
  flex-direction: row;
  margin-bottom: 3.2rem;
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
  }
}


@media (min-width: 45rem) {
  .input-group__item {
    margin-bottom: 1.2rem;
  }
}


/* text */

.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.2rem;
}
/* 
.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
} */

/* list */

.list-header {
  background: #f7f7f7;
  border: 1px solid darken(#f7f7f7, 7%);
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;
}

@media (min-width: 45rem) {
  margin-bottom: 1.2rem;
  .list-body {
    margin-bottom: 1.6rem;
  }
}


.list-item {
  border: 1px solid darken(#f7f7f7, 7%);
  border-top: none;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  text-decoration: none;
  background: #f7f7f7;
}

.list-item--message {
  align-items: center;
  color: #666;
  justify-content: center;
  padding: 1.6rem;
  background: none;
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: #666;
  font-size: 1.4rem;
}

@media (min-width: 45rem) {
  margin: 0;
  padding-left: 1.2rem;
  .list-item__data {
    margin: 1.2rem 0 0 0;
  }
}


/* loader */

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}

/* page */

.page-header {
  background: #f7f7f7;
  margin-bottom: 3.2;
  padding: 3.2rem 0;
}

.page-header__actions {
  margin-top: 1.6rem;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
  font-weight: 700;
}

/* show  responsiviness */

/* .show-for-mobile {
  @media (min-width: 45rem) {
    display: none;
  }
  @media (min-width: 45rem) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.6rem;
  }
}

.show-for-desktop {
  @media (max-width: 45rem - 0.01rem) {
    display: none;
  }
} */
